* {
  box-sizing: border-box;
}
#logo {
  width: 10vw;
  height: 10vh;
  min-width: 4rem;
  min-height: 1rem;
  box-sizing: content-box;
}

body {
  background-image: url("../img/bg_001.jpg");
  background-repeat: no-repeat;

  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 80vw;
}
.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav ul a {
  color: white;
  text-decoration: none;
  font-style: bold;
  font-size: 1vw;
  border: 1px solid;
}

nav ul a:hover {
  border-radius: 15px;
}
.main {
  height: 60vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
section,
p {
  color: white;
  font-size: 1.5vw;
  text-align: left;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 100%;
  flex-direction: column;

  position: relative;
}
.right-side {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30%;
  height: 100%;
  position: relative;
}
.right-side img {
  height: 50vh;
  width: 14vw;
}
#black {
  position: relative;
}
#white {
  position: absolute;
  left: 6rem;
  top: 1rem;
}
section a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-style: oblique;
  padding: 7px;
}
#learnmore {
  background-color: rgb(78, 139, 78);
}
#gettheapp {
  background-color: blue;
}

/*#white:hover {
  position: relative;
  transform: 2s ease-in-out;
  box-shadow: snow 8px 8px 8px 8px;
  border-radius: 20px;
}
#black:hover {
  box-shadow: black 8px 8px 8px 8px;
}*/
.xmenu {
  background-color: gray;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 1px gray;
  border: 1px solid;
  cursor: pointer;
}
.xmenu:hover {
  border-radius: 5px;
}
.kid {
  background-color: white;
  width: 1.5rem;
  height: 0.2rem;
}
.up {
  position: absolute;
  animation-name: x-menu;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes x-menu {
  from {
    transform: rotate(0.15turn);
    background-color: violet;
  }
  to {
    transform: rotate(0.9turn);
    background-color: black;
  }
}
.bottom {
  position: absolute;
  animation-name: x-menu-b;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes x-menu-b {
  from {
    transform: rotate(0.9turn);
    background-color: steelblue;
  }
  to {
    transform: rotate(0.15turn);
    background-color: gray(78, 139, 78);
  }
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    grid-template-rows: 35% 65%;
  }
  .main {
    flex-wrap: wrap;
  }
  #logo {
    display: none;
  }
  .topnav {
    height: 40vh;

    justify-content: left;
    flex-direction: column;
  }
  .topnav ul a {
    font-weight: bold;
  }
  nav ul {
    width: 80vw;
  }
  nav ul a {
    width: 40vw;
    font-size: 10px;
  }
  p,
  h2 {
    font-size: 12px;
    font-weight: bold;
  }
  a {
    font-size: 8px;
  }
  #white {
    left: 4rem;
    top: 4rem;
  }
  .right-side img {
    width: 28vw;
    height: 40vh;
  }
  .left-side,
  .right-side {
    width: 45%;
  }
}
