* {
  box-sizing: border-box;
}
#logo {
  width: 10vw;
  height: 10vh;
  min-width: 4rem;
  min-height: 1rem;
  box-sizing: content-box;
}

body {
  background-image: url("../img/bg_001.jpg");
  background-repeat: no-repeat;
  border: 1px black solid;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
}

.main {
  height: 50vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul a {
  color: white;
  text-decoration: none;
  font-style: bold;
  font-size: 1vw;
}

section,
p {
  color: white;
  font-size: 1.5vw;
  text-align: left;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 100%;
  flex-direction: column;

  position: relative;
}
.right-side {
  float: left;
  width: 30%;
  height: 100%;
  position: relative;
}
.right-side img {
  height: 50vh;
  width: 14vw;
}
#black {
  position: relative;
}
#white {
  position: absolute;
  margin-left: 5rem;
  margin-top: -1rem;
}
section a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-style: oblique;
  padding: 7px;
}
#learnmore {
  background-color: rgb(78, 139, 78);
}
#gettheapp {
  background-color: blue;
}

#white:hover {
  position: relative;
  transform: 2s ease-in-out;
  box-shadow: snow 8px 8px 8px 8px;
  border-radius: 20px;
}
#black:hover {
  box-shadow: black 8px 8px 8px 8px;
}
.xmenu {
  background-color: gray;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
   position: relative;
   box-shadow: 1px 1px gray;

}
.kid {
  background-color: white;
  width: 1.5rem;
  height: 0.2rem;
  
 

}
.up {
  position: absolute;
  animation-name: x-menu;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes x-menu {
  from {
    transform: rotate(0.15turn);
    background-color: violet;

  }
  to {
    transform: rotate(0.90turn);
    background-color: black;

  }
}
.bottom {
  position: absolute;
  animation-name: x-menu-b;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes x-menu-b {
  from {
    transform: rotate(0.90turn);
    background-color: steelblue;

  }
  to {
    transform: rotate(0.15turn);
    background-color: gray(78, 139, 78);

  }
}